body {
  background: #ffcbcb;
  font-family: ;
  text-align: center;
}

h1 {
  text-align: center;
  color: #fdffcd;
}

#birthstone-regular {
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

#bucket {
  display: block;
  margin: 0 auto;
}

input,
button {
  display: block;
  margin: 12px auto;
  padding: 10px;
  font-size: 16px;
}

button {
  background: #fdffcd;
  border: none;
  cursor: pointer;
}

#photoGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 30px auto;
}

.photo-card {
  background: white;
  padding: 12px;
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.photo-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.photo-card p {
  margin-bottom: 0;
}

#groupGallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
  gap: 20px;
  max-width: 900px;
  margin: 30px auto;
}

.group-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.group-card h3 {
  margin-top: 0;
}

.group-card button {
  display: block;
  margin: 12px auto;
}
